<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/position/fixed.css">
    <title>Fixed</title>
</head>
<body>
    <header class="main-header">
        <img class="logo" src="../../Files/batlogo.png" alt="Bati company">
    </header>
    <main>
        <h1>Hola Mundo</h1>
        <ul>
            <!-- Enlaces internos -->
            <li><a href="#chapter-1">Capitulo 1</a></li>
            <li><a href="#chapter-2">Capitulo 2</a></li>
            <li><a href="#chapter-3">Capitulo 3</a></li>
            <li><a href="#chapter-4">Capitulo 4</a></li>
            <li><a href="#chapter-5">Capitulo 5</a></li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <h2 id="chapter-1">Capitulo 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <h2 id="chapter-2">Capitulo 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <h2 id="chapter-3">Capitulo 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <h2 id="chapter-4">Capitulo 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <h2 id="chapter-5">Capitulo 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <h6>Demas texto</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            aspernatur non blanditiis labore hic! Blanditiis, dolor nisi.
            Temporibus ipsam cupiditate exercitationem enim obcaecati laborum
            veritatis nulla dolorum error consequatur. Illum?
        </p>
    </main>
</body>
</html>