<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/position/zindex_uno.css">
    <title>Z index uno</title>
</head>
<body>
    <div class="dad">
        <div class="son">1</div>
        <div class="son">2</div>
        <div class="son">3</div>
    </div>

    <div class="dad-two">
        <div class="son-two">Truco con overflow: hidden</div>
    </div>
</body>
</html>