<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/fondos/backgroundsOne.css">
    <title>Clip y Origin</title>
</head>
<body>
    <h1>Propiedades de fondos (Background)</h1>
    <h2>clip y origin</h2>
    <div class="box-clip-origin"></div>

    <h2>Size</h2>
    <div class="box-size"></div>

    <h2>Position</h2>
    <div class="box-position"></div>
    
</body>
</html>