<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/bordes.css">
    <title>Bordes</title>
</head>
<body>
    <h1>Bordes, Outline y Sombras</h1>
    <div class="box-border-ini"></div>
    <div class="box-border-props"></div>
    <div class="box-border-radius"></div>
    <div class="box-logo-utube">
        <div class="btn-play"></div>
    </div>

    <h2>Outline</h2>
    <div class="outline-class"></div>

    <h2>Shadows</h2>
    <div class="shadow-one"></div>
</body>
</html>