<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/boxModel.css">
    <title>Box Model</title>
</head>
<body>
    <h1>Primera parte (in line - block)</h1>

    <h3 class="to-inline">Parrafo con etiquetas de bloque iniciales</h3>
    <p class="to-inline"> pero convertidas a <h4 class="to-inline">in line</h4></p>

    <span class="to-block">Etiquetas en line iniciales</span>
    <a class="to-block" href="#">vueltas a bloque</a>

    <h2 class="to-mix-line-block">Etiquetas bloque </h2>
    <span class="to-mix-line-block">formadas </span>
    <p class="to-mix-line-block">formadas en linea</p>

    <h1>Segunda parte box model</h1>
    <div class="box">Hola</div>
    <div style="background: blue; border: 30px solid black;">Adios</div>


    <h1>Tercera parte "Margin"</h1>
    <div class="box-uno">Hola</div>
    <div class="box-dos">Adios</div>
    <p>Soy un parrafo</p>

    <div class="tres">
        <span>Para centrar</span>
    </div>


    <h1>Cuarta parte "Colapso de margenes"</h1>
    <article class="article-one">
        Articulo 1
    </article>
    <article class="article-two">
        Articulo 2
    </article>
    

    <h1>Quinta parte "Padding"</h1>
    <article class="article-padding">
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere explicabo,
            necessitatibus veniam assumenda dignissimos exercitationem illo ratione eum
            nam totam nostrum repellat iusto deserunt, eius magni voluptate voluptatum,
            corporis incidunt.</span>
    </article>

    <!-- <div class="for-video"></div> -->

    

</body>
</html>