<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/colores.css">
    <title>Colores</title>
</head>
<body>
    <h1>Colores</h1>
    <h2>Hola mundo</h2>

    <div class="box-rgba">Modelo rgb o rgba</div>
    <div class="box-hexadecimal">Modelo rgb en hexadecimal</div>
    <div class="box-hsla">Modelo de color HSL o HSLA "Hue, Saturation, Luminosity +- Alpha"</div>

    <div class="deg-line">Degradados lineales</div>
    <div class="deg-line-stops">Degradados lineales con stops</div>
    <div class="deg-line-angle">Degradados lineales indicando el angulo</div>
    <div class="deg-radial">Degradados Radiales</div>

</body>
</html>