<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/herencia.css">
    <title>Herencias</title>
</head>
<body>
    <h1>Hola <span>Mundo</span></h1>

    <p>Ve a <a href="#">mi sitio</a></p>

    <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li class="last">Item
            <span>Final</span>
        </li>
    </ul>
    
</body>
</html>