<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/listas_contadores.css">
    <title>Document</title>
</head>
<body>
    <h1>Listas y Contadores</h1>
    
    <span>Hola mundo</span>
    <span>Hola mundo</span>
    <span>Hola mundo</span>
    <span>Hola mundo</span>
    <span>Hola mundo</span>
    <span>Hola mundo</span>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
    </ul>

    <ol>
        <li>Item 1</li>
        <li>Item 2
            <ol>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ol>
        </li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
    </ol>

    <h2>Contadores</h2>
    <h3>Titulo 1</h3>
    <div class="Chapters">
        <h4 class="chapter">Subtitulo 1</h4>
        <h4 class="chapter">Subtitulo 2</h4>
        <h4 class="chapter">Subtitulo 3</h4>
        <h4 class="chapter">Subtitulo 4</h4>
    </div>

    <h2>Contadores en lista anidada</h2>
    <ol>
        <li>Item 1</li>
        <li>Item 2
            <ol>
                <li>sub Item 1</li>
                <li>sub Item 2
                    <ol>
                        <li>sub Item 1</li>
                        <li>sub Item 2</li>
                        <li>sub Item 3</li>
                    </ol>
                </li>
                <li>sub Item 3</li>
            </ol>
        </li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
    </ol>
    
</body>
</html>