<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/position.css">
    <title>Position</title>
</head>
<body>
    <h1>Position</h1>
    <a href="../Views/position/drop_down_menu.html">
        Ejercicio de Menu con position
    </a>
    <a href="../Views/position/card.html">
        Ejercicio de Card con Position
    </a>

    <h6 class="frase-uno">Primera frase</h6>
    <h6 class="frase-dos">Segunda frase</h6>
    <h6 class="frase-tres">Tercera frase</h6>

    <div class="box-abs">
        <span id="texto-abs">Posicion Absolute</span>
    </div>
    <div class="box-abs">
        <span id="texto-abs-center">Posicion Absolute centrada</span>
    </div>
    
</body>
</html>