<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/pseudoelementos.css">
    <title>Document</title>
</head>
<body>
    <h1>Pseudoelementos</h1>
    <h2 class="first-ln">Mi titulo <br> con mi subtitulo</h2>
    <p class="first-ln">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae hic
        itaque repellat laudantium, ratione quod nostrum placeat repudiandae
        ad cupiditate assumenda eius, quaerat, voluptates magnam commodi libero.
        Expedita, deserunt perspiciatis.
    </p>
    <p class="first-let">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae hic
        itaque repellat laudantium, ratione quod nostrum placeat repudiandae
        ad cupiditate assumenda eius, quaerat, voluptates magnam commodi libero.
        Expedita, deserunt perspiciatis.
    </p>

    <h3>Quien eres</h3>

    <h4>Formateando monedas</h4>
    <p class="usd">45</p>
    <p class="bs">89</p>
    <p class="pen">3000</p>

    <h1 id="und" class="unr-ln">Animacion de subrayado</h1>

</body>
</html>