<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/selectores.css">
    <title>Selectores CSS</title>
</head>
<body>
    <h1>Selectores</h1>

    <!-- <h3>Selector Hijo directo</h3>
    <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Sub selector
            <ul>
                <li>sub item</li>
                <li>sub item</li>
                <li>sub item</li>
                <li>sub item</li>
            </ul>
        </li>
    </ul> -->

    <!-- <h3>Selector hermano siguiente</h3>
    <h1 class="titlteOne">Titulo</h1>
    <p class="subtitle">Subtitulo de h1</p>
    <h2 class="titleTwo">Subtitulo</h2>
    <p class="subtitle">Subitulo de h2</p> -->

    <!-- <h3>Selector de atributo</h3>
    <input type="text" placeholder="Nombre"><br>
    <input type="email" placeholder="Email" required><br>
    <input type="password" placeholder="Contraseña" required><br>
    <input type="submit" value="Enviar"><br> -->

    <h3>Selector de atributo que contiene parte de una clase en su referencia</h3>
    <a href="#" class="button-cta">Activar premium</a>
    <a href="#" class="button-alert">Cancelar Cuenta</a>

</body>
</html>