<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/textosOne.css">
    <title>Textos Uno</title>
</head>
<body>
    <h1>Textos Uno</h1>

    <div class="line-height-div">Texto centreado verticalmente</div>

    <h2>Text Shadow</h2>

    <p id="white-sp">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Veniam, eveniet recusandae, suscipit cumque ipsum reiciendis 
        iusto praesentium commodi reprehenderit deserunt iure facere 
        id provident, repellat eligendi sunt. Natus, provident animi.</p>

    <p class="desbordamiento">CSS </br> IS </br> AWESOME</p>

    <p class="text-vertical">CSS IS AWESOME</p>

    <p class="text-transformation">Este es el parrafo de text transform</p>
</body>
</html>